a.button-discerner, input[type="submit"].button-discerner {
    background-color: #CCCCCC !important;
    background-image: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png");
    border-color: #D3D3D3 !important;
    border-radius: 4px 4px 4px 4px;
    border-style: solid !important;
    border-width: 1px !important;
    color: #008800 !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    font-size: 1em !important;
    font-weight: bold !important;
    line-height: 130%;
    margin: 0.7em 0.5em 0.7em 0 !important;
    padding: 0.5em !important;
    text-decoration: none !important;
    vertical-align: middle;
}
a.negative, button.negative {
    color: #800000 !important;
    text-decoration: none !important;
}
a.positive, button.positive {
    background-color: #CCCCCC;
    color: #529214 !important;
    text-decoration: none !important;
}
button[type].button-discerner {
    line-height: 17px;
    padding: 4px 10px 4px 7px;
}
button.button-discerner {
    background-color: #CCCCCC;
    border-color: #EEEEEE #DEDEDE #DEDEDE #EEEEEE;
    border-style: solid;
    border-width: 1px;
    color: #CCCCCC;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    font-size: 100%;
    font-weight: bold;
    line-height: 130%;
    margin: 0.7em 0.5em 0.7em 0;
    overflow: visible;
    padding: 4px 10px 3px 7px;
    text-decoration: none;
    width: auto;
}