div.discerner-buttons {
  margin: 1em 0;
}
a.negative, button.negative {
    color: #800000 !important;
    font-weight: bold !important;
}
a.positive, button.positive, input.positive {
    color: #529214 !important;
    font-weight: bold !important;
}

