#discerner_searches, #discerner_search
  :width 1110px
  :margin 1em

  .discerner-buttons
    :float right

  #discerner_searches_filter
    :margin-bottom 1em

#discerner_search
  form.new_search
    label, input, select
      :display inline
      :width auto

  #discerner_search_header
    div.discerner_search_name, div.discerner_search_dictionary, .discerner_dictionary_required_message
      :margin 1em 0.5em
      :height 2em
      :padding 0.25em
      :float left

    div.discerner_search_name
      form
        :display inline
        :width 10em

        a, input
          :margin-top -10px
          :margin-bottom 0

        input[type="text"]
          :width 30em
    .discerner_dictionary_required_message
      color: red

  #discerner_search_form
    :border 1px solid #D1DAE3

    table
      :margin-bottom 0

    table.records tr
      :border none

    .ui-widget
      :font-size 1em

    .fields td
      :vertical-align top
      :border-bottom 1px solid lightgrey
      :padding-top 0.5em
      :padding-top 0.5em

    .search_combinations td
      :border none
    .parameter_boolean_operator, td.remove, th.remove,
    .combined_search_operator, .combined_search_operator
      :width 68px

    .parameter_values
      :padding-right 0
      table
        :margin-bottom 0
        :width 100%

        td
          :border none
          :padding-top 0

      .records
        input[type="text"]
          :width 143px
        td.operator, td.value, td.additional_value
          :width 113px

        td.operator select, td.value input, td.additional_value input
          :margin-top 0
          :padding-top 0

      .parameter_values_boolean_operator, .chosen
        :width 1.5em

      button.ui-button
        :margin-bottom 0

    input.ui-autocomplete-input
      :border 1px solid #CCCCCC
      :border-radius 0px
      :padding-left 0.25em

    button.ui-widget, input.ui-autocomplete-input
      :font-size 13px
      .ui-button-text
        :padding 0

    .categorized_autocompleter button, .parameter_value button, .combined_search button
      :border-left-width 0
      :background-color #FFFFFF
      :background-image none
      :border-radius 0px
      :margin-top 0
      :padding-top 0
      :padding-bottom 0
      :vertical-align bottom
      :height 1.6em

    .combined_search_combobox button
      :border-width 0
      :padding 0

    .parameter, .combined_search, .parameter_value
      .div-category-popup
        ul
          :padding 0
          :margin 0
        li
          :list-style none outside none
          :padding-bottom .25em

    .parameter, .combined_search
      :width 395px

      .div-category-popup
        :width 70em

      input.ui-autocomplete-input
        :width 24em
      .column
        :width 16em

    .parameter_value
      .div-category-popup
        :width 40em
      input.ui-autocomplete-input
        :width 28em
      .column
        :width 12em
      input[type="radio"]
        :margin 0.3em 0.7em 0.3em 0.5em


    .parameter, .combined_search, .parameter_value
      .categorized_autocompleter, .combined_search_combobox
        :border 1px solid #CCCCCC
        :background-color #FFFFFF
        :position relative

        input.ui-autocomplete-input
          :border none
          :border-right 1px solid #CCCCCC
          :padding-left 0.2em

        .div-category-popup
          :border-style solid
          :border-color #CCCCCC #999999 #999999 #CCCCCC
          :border-width 1px 3px 3px 1px
          :padding 0.1em 0.1em 1em 0.1em

          .div-category-list
            :overflow auto

            .parameter_category, .parameter_value_category
              :padding-bottom 5px
              :padding-left 5px
              :padding-right 5px
              :padding-top 15px
              :clear both

              .parameter_category_name, .parameter_value_category_name
                :font-weight bold
                :margin-bottom 0
                :margin-left 0
                :margin-right 0
                :margin-top 0
                :padding-bottom 0
                :padding-left 0
                :padding-right 0
                :padding-top 0

            .column
              :float left
              :margin-right 5px

              .criteria
                :margin-bottom 3px
                :margin-left 0
                :margin-right 0
                :margin-top 3px
                a
                  :text-decoration none
                a:hover
                  :border-bottom 1px dotted


        .selection_disabled
          :color #cccccc

      .combined_search_combobox
        button.ui-button
          :margin-bottom 0
.discerner
  input.ui-autocomplete-input
    :width 20em

  .ui-menu .ui-menu-item a
    :text-align left
