/* Tabular Data */

table.records, table.repeater {
  width: 100%;
  border-collapse: collapse;
}

table.records td, table.repeater td {
  padding: 0.125em 0.25em;
}

table.records td.action, table.repeater td.action {
  width: 5em;
}

table.records thead th, table.repeater thead th, table.records tr.labels th {
  background-color: #f0f0f0;
}

table.records tr, table.repeater tr {
  border: 1px solid lightgray;
}

table.records tbody tr.odd_record, table.repeater tbody tr.odd_record {
  background-color: white;
}

table.records tr.even_record, table.repeater tr.even_record  {
  background-color: whitesmoke;
}

table.nested {
  width: 50%;
  margin-top: 1em;
}
