#discerner_search
  = render 'discerner/shared/error_messages', :object => @search
  #discerner_search_form
    = render :partial => 'search'
  #discerner_resultsresults
    = render :partial => 'results'
