#discerner_search
  = render 'discerner/shared/error_messages', :object => @discerner_search
  #discerner_search_form
    = render :partial => 'search'
  .clear
  
  - if @discerner_search.persisted?
    - if export_discerner_results? && discerner_export_link
      #discerner_export
        = discerner_export_link
        .clear
        
    - if show_discerner_results?
      #discerner_results
        = render :partial => discerner_results_partial
        .clear