#discerner_search
  = render 'discerner/shared/error_messages', :object => @search
  #discerner_search_form
    = render :partial => 'search'
  - if @search.persisted?
    #discerner_results
      = render :partial => discerner_results_partial
