#discerner_search_summary
  %h3 Search summary
  %table
    - if @discerner_search.combined_searches.any?
      %tr.discerner_combined_searches_summary
        %td.parameter_category
          %b Included searches:
        %td.search_parameter_summary
          = @discerner_search.combined_searches.map{|cs| cs.name}.join(', ')

    - @discerner_search.parameter_categories.each do |category|
      - search_parameters = @discerner_search.search_parameters
      - search_parameters =  search_parameters.by_parameter_category(category) if category
      - unless search_parameters.blank?
        %tr.parameter_category
          %th{:colspan => "2"}
            = category.name
        - search_parameters.each do |sp|
          %tr.search_parameter_summary
            %td.parameter_name
              #{sp.parameter.name}:
            %td.parameter_value
              = search_parameter_values(sp)
.clear

